/* line 4, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 8, ../sass/main.scss */
input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 12, ../sass/main.scss */
h1, h2, h3, h4 {
  line-height: 1;
}

/* line 15, ../sass/main.scss */
a {
  color: #2464DA;
  -webkit-transition: all .2s ease-in-out;
}
/* line 18, ../sass/main.scss */
a:hover {
  color: #4f83e2;
}

/* line 22, ../sass/main.scss */
p {
  font-size: 12px;
  padding: 10px;
  background-color: #FFF;
}

/* line 27, ../sass/main.scss */
input[type=text]#newFolderName {
  outline: 0;
  border: 0;
  font-size: 22px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  width: 100%;
}

/* line 35, ../sass/main.scss */
#selectTitle {
  padding: 30px 40px;
}

/* line 39, ../sass/main.scss */
.button {
  color: #fff;
  background-color: #2464DA;
  font-size: 16px;
  margin: 0 auto;
  display: inline-block;
  padding: 8px;
  text-align: center;
}
/* line 48, ../sass/main.scss */
.button.lg {
  max-width: 175px;
  display: block;
  font-size: 22px;
  padding: 15px 15px;
  margin: 50px auto;
}
/* line 57, ../sass/main.scss */
.button:hover {
  color: #fff;
  background-color: #4f83e2;
}

/* line 63, ../sass/main.scss */
.folder-list-input {
  background-color: transparent;
  border: 0;
  width: 200px;
  outline: 0;
  font-size: 16px;
}

/* line 70, ../sass/main.scss */
.right {
  float: right;
}

/* line 73, ../sass/main.scss */
.folder {
  overflow: hidden;
  background-color: #e1e1e1;
}
/* line 76, ../sass/main.scss */
.folder:nth-child(odd) {
  background-color: #f1f1f1;
}

/* line 83, ../sass/main.scss */
.badge {
  background-color: #2464DA;
  font-size: 12px;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  height: 15px;
  width: 15px;
  text-align: center;
  line-height: 1.4;
}

/* line 94, ../sass/main.scss */
.folder-nav {
  display: inline-block;
}
/* line 96, ../sass/main.scss */
.folder-nav a, .folder-nav span {
  margin: 0 5px;
}

/* line 101, ../sass/main.scss */
h1 {
  font-size: 16px;
  float: left;
  padding: 8px;
}

/* line 106, ../sass/main.scss */
header {
  background-color: #2464DA;
  color: #fff;
}

/* line 111, ../sass/main.scss */
#main {
  position: absolute;
  right: 0;
  width: 400px;
}

/* line 117, ../sass/main.scss */
#wrapper {
  width: 800px;
  position: relative;
}

/* line 121, ../sass/main.scss */
#available-tabs {
  position: absolute;
  width: 400px;
  left: 0;
  border-right: 1px solid #e4e4e4;
}

/* line 130, ../sass/main.scss */
.folder-body a, #tab-list a {
  position: relative;
  font-size: 12px;
  display: block;
  padding: 3px 10px;
  background-color: #fff;
  font-weight: 500;
  border-top: 1px solid #eee;
}
/* line 138, ../sass/main.scss */
.folder-body a:nth-child(odd), #tab-list a:nth-child(odd) {
  background-color: #fff;
}
/* line 141, ../sass/main.scss */
.folder-body a:hover, #tab-list a:hover {
  background-color: #fcfcfc;
}
/* line 145, ../sass/main.scss */
.folder-body i, #tab-list i {
  position: absolute;
  right: 10px;
  top: 3px;
}

/* line 153, ../sass/main.scss */
.folder-header {
  padding: 5px;
}
