// $base-color: #2E9870;// fa green
$base-color: #2464DA; // blue
// $base-color: #D57100; // orange
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
input {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
h1,h2,h3,h4 {
	line-height: 1;
}
a {
	color: $base-color;
	-webkit-transition: all .2s ease-in-out;
	&:hover {
		color: lighten( $base-color, 10% );
	}
}
p {
	font-size: 12px;
	padding: 10px;
	background-color: #FFF;
}
input[type=text]#newFolderName {
	outline:0;
	border:0;
	font-size: 22px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	width: 100%;
}
#selectTitle {
	padding: 30px 40px;
}

.button {
	color: #fff;
	background-color: $base-color;
	font-size: 16px;
	margin: 0 auto;
	display: inline-block;
	padding: 8px;
	text-align: center;

	&.lg {
		max-width: 175px;
		display: block;
		font-size: 22px;
		padding: 15px 15px;
		margin: 50px auto;

	}

	&:hover {
		color: #fff;
		background-color: lighten( $base-color, 10% );
	}

}
.folder-list-input {
	background-color: transparent;
	border: 0;
	width: 200px;
	outline: 0;
	font-size: 16px;
}
.right {
	float: right;
}
.folder {
	overflow: hidden;
	background-color: #e1e1e1;
	&:nth-child(odd){
		background-color: #f1f1f1;
	}
	a {
		// color: #fff;
	}
}
.badge {
	background-color: $base-color;
	font-size: 12px;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	height: 15px;
	width: 15px;
	text-align: center;
	line-height: 1.4;
}
.folder-nav {
	display: inline-block;
	a, span {
		margin: 0 5px;
	}
}

h1 {
	font-size: 16px;
	float: left;
	padding: 8px;
}
header {
	background-color: $base-color;
	color: #fff;
}

#main {
	position: absolute;
	right:0;
	width: 400px;
	// min-height: 200px;
}
#wrapper {
	width: 800px;
	position: relative;
}
#available-tabs {
	position: absolute;
	width: 400px;
	left:0;
	border-right: 1px solid #e4e4e4;
}


.folder-body, #tab-list {
	a {
		position: relative;
		font-size: 12px;
		display: block;
		padding: 3px 10px;
		background-color: #fff;
		font-weight: 500;
		border-top: 1px solid #eee;
		&:nth-child(odd){
			background-color: #fff;
		}
		&:hover {
			background-color: #fcfcfc;
		}
	}
	i {
		position: absolute;
		right: 10px;
		top: 3px;
	}
}


.folder-header {
	padding: 5px;
}
